annotated-types==0.7.0
asgiref==3.8.1
dj-database-url==2.1.0
Django==5.0
django-cors-headers==4.3.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
dnspython==2.7.0
email_validator==2.2.0
gunicorn==21.2.0
idna==3.10
packaging==24.2
pillow==10.2.0
psycopg2-binary==2.9.9
pydantic==2.10.5
pydantic_core==2.27.2
PyJWT==2.8.0
python-dotenv==1.0.0
pytz==2024.2
six==1.16.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2
whitenoise==6.7.0
